/* base classes */
.inline-block{
	display: inline-block;
}
.vertical-middle{
	vertical-align: middle;
}
.verticla-top{
	vertical-align: top;
}
.container{
	width: 1170px;
	margin: 0 auto;
}
.float-left{
	float: left;
}
.float-right{
	float: right;
}
.white-colo{
	color: #fff;
}
.blue-color{
	color: #3D58A6
}
.clear{
	clear: both;
}
.relative{
	position: relative;
}
/* base classes */

/* header */
body{
	padding-top: 75px;
}
.header{
	padding: 20px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #FFF;
	z-index: 10;
}
.right-block{
	float: right;
	/*background-color: yellow*/
}
.social-a{
	padding: 0 15px;
	border-right: 1px;
	border-style: solid;
	border-color: #3D58A6;

}
.social-li:last-child .social-a{
	padding-right: 0;
	border: 0;
}
.social-icon{
	padding: 0 30px;
}
.social-icon:first-child{
	padding-left: 0;
	/*background-color: blue*/
}

.social-icon img{
	height: 30px;
}
.logo{
	width: 100px;
	float: left;
	/*background-color: blue;*/
}
.nav{
	margin-left: 50px;
	margin-right: 150px;
}
.navigaiton-a{
	padding: 0 30px;
	color: #3D58A6;
	font-family: "RobotoRegular";
	font-size: 20px;

}
.social-a img{
	height: 25px;
}
.navigaiton-a:hover{
	color: #EE4036;
	transition-property: color;
	transition-duration: 1s;
	transition-timing-function: linear;
	transition-delay: 1s;
}
/* header */
/* banner */
.banner{
	padding: 30px 0;
	background-color: #E6E6E6
}
.title-box{
	position: absolute;
	bottom: 30px;
	left: 30px;	
}
.white-logo{
	position: absolute;
	right: 30px;
	bottom: 30px;
	width: 100px;
}

.banner .banner-img{
	width: 100%;
}
/* banner */

/* video */
.video-fluid{
	background-color: #363E97;
	padding-bottom: 90px;
	/*position: sticky;*/
	/*top: 0;*/
	/*z-index: 20;*/
}
.article-title-elem{
	font-size: 24px;
	font-family: "RobotoRegular";
	text-transform: uppercase;
	padding: 30px 0;
}
.article-title-elem a{
	text-transform: lowercase;
}
.video h2{
	position: absolute;
	/*top: 50%;*/
	/*left: 50%;*/
	/*transform: translate3d(-50%, -50%, 0);*/
	/*transition-property: all;*/
	/*transition-duration: 1s;*/
	/*transition-timing-function: linear;*/
	/*transition-delay: 1s;*/
	/*transition:transform 1s linear 1s;*/
	/*transition:transform 1s linear;*/
	animation: anime 1s infinite;
	/*transform: translate3d(-50%, -50%, 0) scale(1.5) rotate(180deg) skew(50deg);*/
}

@keyframes anime {
	0%{
		top:0;
		left: 0;
	}
	50%{
		top: 20px;
		left: 20px;
	}
	100%{
		top:0;
		left: 0;
	}
}

.video:hover h2{
	width: 100px;
	transform: translate3d(-50%, -50%, 0) scale(1.5) rotate(180deg) skew(50deg);
	/*transition-delay: */
}
.video{
	width: 570px;
	height: 320px;
	background-color: #fff;
	text-align: center;
}
/* video */

/* artixle-box */
.articles{
	padding-bottom: 90px;
	background-color: #BDCCD4;
}
.article-box:nth-child(1),
.article-box:nth-child(2),
.article-box:nth-child(3),
.article-box:nth-child(4)
{
	margin-top: 0;
}
.article-box{
	width: 270px;
	height: 270px;
	float: left;
	margin: 30px 15px auto 15px;  
}
.article-box img{
	display: block;
}
.article-box:first-child{
	margin-left: 0;
}
.article-box:nth-child(4n+1){
	margin-left: 0;
}
.article-box:nth-child(4n){
	margin-right: 0;
}
.article-title{
	height: 60px;
	background-color: #E6E6E6;
	/*text-align: center;*/
	font-size: 22px;
	text-transform: uppercase;
	color: #333333;
	padding-left: 17px;
	line-height: 60px;
}
/* artixle-box */

/* featured */
.fatured{
	padding-top: 60px;
}
.article{
	width: 570px;
	/*height: 220px;*/
	background-color: #F2F2F2;
	padding: 15px 15px 40px 40px;
}
.article.left{
	margin-left: 15px;
}
.article.right{
	margin-right: 15px;
}
.fatured h1{
	margin-bottom: 30px;
	text-transform: uppercase;
}
.fatured h1 a{
	text-transform: lowercase;
}
.article h2 {
	margin-bottom: 15px;
	text-transform: uppercase;
}
.article-wrapper img{
	width: 100px;
}
.article-wrapper p{
	width: calc(100% - 155px);
	padding-left: 50px;
	font-size: 20px;
	line-height: 24px
}
/* featured */
/* footer */
.footer{
	padding: 70px 0 40px 0;

}
/* footer */

.map-block{
	background-color: #E6E6E6;
	padding: 30px 0;
}
.box-1{
	width: 100%;
	height: 500px;
	background-color: aquamarine;
}



.dss::after{
	content: "";
}
.dss::before{
	content: "";
}
.dss{
	width: 100%;

}