/* base classes */
.inline-block{
	display: inline-block;
}
.vertical-middle{
	vertical-align: middle;
}
.verticla-top{
	vertical-align: top;
}
.container{
	width: 1170px;
	margin: 0 auto;
}
/* base classes */

/* header */
.header{
	padding: 30px;
}
.logo{
	width: 100px;
}
.nav{
	margin-left: 50px;
}
.navigaiton-a{
	padding: 0 30px;
	color: #3D58A6;
}
.navigaiton-a:hover{
	color: #EE4036;
}
/* header */
/* banner */
.banner{
	padding: 80px 0;

}
.banner img{
	width: 100%;
}
/* banner */
/* featured */
.fatured{
	padding-top: 60px;
}
.article{
	width: 570px;
	/*height: 220px;*/
	background-color: #F2F2F2;
	padding: 15px 15px 40px 40px;
}
.article.left{
	margin-left: 15px;
}
.article.right{
	margin-right: 15px;
}
.fatured h1{
	margin-bottom: 30px;
	text-transform: uppercase;
}
.fatured h1 a{
	text-transform: lowercase;
}
.article h2 {
	margin-bottom: 15px;
	text-transform: uppercase;
}
.article-wrapper img{
	width: 100px;
}
.article-wrapper p{
	width: calc(100% - 155px);
	padding-left: 50px;
	font-size: 20px;
	line-height: 24px
}
/* featured */
/* footer */
.footer{
	padding: 70px 0 40px 0;

}
.social-icon{
	padding: 0 30px;
}
.social-icon:first-child{
	padding-left: 0;
	/*background-color: blue*/
}

.social-icon img{
	height: 30px;
}
/* footer */

.map-block{
	background-color: #E6E6E6;
	padding: 30px 0;
}
.box-1{
	width: 100%;
	height: 500px;
	background-color: aquamarine;
}