/* base classes */
.inline-block{
	display: inline-block;
}
.vertical-middle{
	vertical-align: middle;
}
.verticla-top{
	vertical-align: top;
}
.container{
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
}
.float-left{
	float: left;
}
.float-right{
	float: right;
}
.white-colo{
	color: #fff;
}
.blue-color{
	color: #3D58A6
}
.clear{
	clear: both;
}
.relative{
	position: relative;
}
/* base classes */

/* header */
body{
	padding-top: 75px;
	min-width: 320px;
}
/*.burger.active{*/
.burger.active .row:nth-child(1){
	transform: translate(-50%, -50%) rotate(-45deg);
	top: 50%;
}
.burger.active .row:nth-child(3){
	transform: translate(-50%, -50%) rotate(45deg);
	top: 50%;
}
.burger.active .row:nth-child(2){
	left: 140%;
}

/*}*/
.burger .row:first-child{
	top: 30%;
}
.burger .row:last-child{
	top: 70%;
}
.burger .row{
	width: 40px;
	height: 5px;
	background-color: rgb(61, 88, 166);
	position: absolute;
	top: 50%;
	left: 50%;
	transition: all .3s linear;
	transform: translate(-50%, -50%);
}
.burger{
	width: 60px;
	height: 60px;
	display: none;
	margin-left: 40px;
	border: 1px solid rgb(61, 88, 166);
	position: relative;
	overflow: hidden;
}
.header{
	min-width: 320px;
	padding: 20px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #FFF;
	z-index: 10;
}
.header-wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.right-block{
	width: 100%;
	display: flex;
	align-items: center;
	/*float: right;*/
	/*background-color: yellow*/
}
.social-ul{
	display: flex;
}
.social-a{
	padding: 0 15px;
	border-right: 1px;
	border-style: solid;
	border-color: #3D58A6;

}
.social-li:last-child .social-a{
	padding-right: 0;
	border: 0;
}
.social-icon{
	padding: 0 30px;
}
.social-icon:first-child{
	padding-left: 0;
	/*background-color: blue*/
}

.social-icon img{
	height: 30px;
}
.logo{
	width: 100px;
}
.nav{
	margin: auto;
}
.navigation-ul{
	display: flex;
}
.navigaiton-a{
	padding: 0 30px;
	width: 100px;
	color: #3D58A6;
	font-family: "RobotoRegular";
	font-size: 20px;
	display: inline-block;
	transition:width 2s ease;
}
.navigaiton-a.active{
	width: 200px;
}
.social-a img{
	height: 25px;
}
.navigaiton-a:hover{
	color: #EE4036;
	transition-property: color;
	transition-duration: 1s;
	transition-timing-function: linear;
	transition-delay: 1s;
}
/* header */
/* banner */
.banner{
	padding: 30px 0;
	background-color: #E6E6E6
}
.title-box{
	position: absolute;
	bottom: 30px;
	left: 30px;	
}
.white-logo{
	position: absolute;
	right: 30px;
	bottom: 30px;
	width: 100px;
}

.banner .banner-img{
	width: 100%;
}
/* banner */

/* video */
.video-fluid{
	background-color: #363E97;
	padding-bottom: 90px;
	/*position: sticky;*/
	/*top: 0;*/
	/*z-index: 20;*/
}
.video-wrapper{
	display: flex;
	justify-content: space-between;
}
.article-title-elem{
	font-size: 24px;
	font-family: "RobotoRegular";
	text-transform: uppercase;
	padding: 30px 0;
}
.article-title-elem a{
	text-transform: lowercase;
}
.video h2{
	position: absolute;
	/*top: 50%;*/
	/*left: 50%;*/
	/*transform: translate3d(-50%, -50%, 0);*/
	/*transition-property: all;*/
	/*transition-duration: 1s;*/
	/*transition-timing-function: linear;*/
	/*transition-delay: 1s;*/
	/*transition:transform 1s linear 1s;*/
	/*transition:transform 1s linear;*/
	animation: anime 1s infinite;
	/*transform: translate3d(-50%, -50%, 0) scale(1.5) rotate(180deg) skew(50deg);*/
}

@keyframes anime {
	0%{
		top:0;
		left: 0;
	}
	50%{
		top: 20px;
		left: 20px;
	}
	100%{
		top:0;
		left: 0;
	}
}

.video:hover h2{
	width: 100px;
	transform: translate3d(-50%, -50%, 0) scale(1.5) rotate(180deg) skew(50deg);
	/*transition-delay: */
}
.video{
	width: 570px;
	height: 320px;
	background-color: #fff;
	text-align: center;
}
/* video */

/* artixle-box */
.articles{
	padding-bottom: 90px;
	background-color: #BDCCD4;
}
.article-box:nth-child(1),
.article-box:nth-child(2),
.article-box:nth-child(3),
.article-box:nth-child(4)
{
	margin-top: 0;
}
.article-box{
	width: 270px;
	margin-top: 30px;  
}
.article-box-wrapper{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.article-box img{
	display: block;
	width: 100%;
}
.article-title{
	height: 60px;
	background-color: #E6E6E6;
	/*text-align: center;*/
	font-size: 22px;
	text-transform: uppercase;
	color: #333333;
	padding-left: 17px;
	line-height: 60px;
}
/* artixle-box */

/* featured */
.fatured{
	padding-top: 60px;
}
.article-block{
	display: flex;
	justify-content: space-between;
}
.article{
	width: 570px;
	background-color: #F2F2F2;
	padding: 15px 15px 40px 40px;
}
.fatured h1{
	margin-bottom: 30px;
	text-transform: uppercase;
}
.fatured h1 a{
	text-transform: lowercase;
}
.article h2 {
	margin-bottom: 15px;
	text-transform: uppercase;
}
.article-wrapper img{
	width: 100px;
}
.article-wrapper p{
	width: calc(100% - 155px);
	padding-left: 50px;
	font-size: 20px;
	line-height: 24px
}
/* featured */
/* footer */
.footer{
	padding: 70px 0 40px 0;

}
/* footer */

.map-block{
	background-color: #E6E6E6;
	padding: 30px 0;
}
.map-block iframe{
	display: block;
	width: 100%;
}
.box-1{
	width: 100%;
	height: 500px;
	background-color: aquamarine;
}



.dss::after{
	content: "";
}
.dss::before{
	content: "";
}
.dss{
	width: 100%;

}


/* contant block */
.contact-block-wrapper{
	background-color: #363E97;
	padding: 30px 170px 30px 100px;
	display: flex;
}
.adress-block{
	width: 265px;
}
.form-block{
	width: 100%;
}
.text-block{
	margin-bottom: 30px;
	color: #fff;
}
.form-item{
	margin-bottom: 25px;
	display: flex;
	flex-direction: column;
}
.form-item .input{
	height: 60px;
	font-size: 22px;
	padding-left: 25px;
}
.form-item  .label{
	color: #fff;
	margin-bottom: 15px;
	text-transform: capitalize;
	padding-left: 25px;
}
.button{
	width: 130px;
	height: 45px;
	background-color: #EE4036;
	text-transform: uppercase;
	font-size: 20px;
	color: #fff;
}
.share-box{
	background-color: #E6E6E6;
	padding: 30px 0;
}
.share-wrapeer{
	display: flex;
	justify-content: flex-end;
}
.share-item{
	padding-left: 7px;
}
.footer{
	padding: 30px 0;
}
.footer-wrapper{
	display: flex;
	justify-content: space-between;
}
/* contant block */
/* mobile navigation */
.mobile-navigation{
	position: fixed;
    width: 100%;
    height: calc(100% - 100px);
    top: 100px;
    left: -100%;
    /*background: red;*/
    transition: all .3s linear;
    background-color: rgba(0,0,0, 0.8);
    opacity: 0;
    visibility: hidden;

}
.mobile-navigation.active{
	left: 0;
	opacity: 1;
	visibility: visible;
}
.mobiel-nav-ul{
	display: flex;
    flex-direction: column;
    align-items: center;
}
.mobile-nav-a{
	color: #fff;
	font-size: 48px;
	padding-top: 30px;
	display: block;
}
.mobile-nav-li.icon{
	display: none;
}
.mobile-nav-li.icon img{
	height: 40px;
}
/* mobile navigation */

/* table */
.table-seciton{
	padding: 30px 0;
}
.table{
	width: 100%;
}
.table td{
	padding: 10px;
}
.table td,
.table th{
	border: 1px solid #fff;
}
.table tr:hover{
	background-color: red;
}
.table tr:nth-child(odd){
	background-color: gray;
}
.table th{
	padding: 15px;
	background-color: #4CAF50;
}
/* table */


/* saearch block */
body.hidden{
	overflow: hidden;
}
.search-block{
	position: fixed;
	height: calc(100% - 40px);
	width: calc(100% - 40px);
	background-color: rgba(238, 64, 54, .9);
	top: 20px;
	left: 20px;
	z-index: 20;
	visibility: hidden;
	opacity: 0;
	transition: all .3s linear;
}
.search-block.active{
	visibility: visible;
	opacity: 1;
}
.search-block .search-box{
	display: flex;
	flex-direction: column;
}
.search-block .search-box{
	padding: 0 100px;
	font-family: "RobotoRegular";
	font-size: 24px;
	color: #363E97;
}
.search-block .search-box label{
	margin-bottom: 15px;
}
.search-block .search-box input::-webkit-input-placeholder{
	color: #fff;
}
.search-block .search-box input{
	background-color: transparent;
	font-size: 24px;
	color: #363E97;
}
.search-block .close-section{
	margin: 45px 45px 65px auto;
	display: flex;
	justify-content: flex-end;
	cursor: pointer;
}
.search-block .close-section .close{
	width: 120px;
	height: 120px;
	/*background-image: url('https://upload.wikimedia.org/wikipedia/en/thumb/6/63/IMG_%28business%29.svg/1200px-IMG_%28business%29.svg.png');*/
	background-image: url('../img/search-close.svg');
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
/* saearch block */

